body { 
  margin: 0;   /* Remove body margins */
}

:root {
  color: #f6f6f6;
  background-color: #151515;
}

.container {
  margin: 0;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}



input,
button {
  color: #c0c1c7;
  background-color: #0f0f0f98;
  border-radius: 5px;
  border: 1px solid #424244;
  padding: 0.6em 0.8em;
  font-size: 1.15em;
  font-weight: 800;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  width: 100%;
}

form.list_element {
  border-bottom: #313131 1px solid;
  border-top: #313131 1px solid;
  padding: 8px;
  gap: 4vw;
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #424244;
  background-color: #0f0f0f69;
}